*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grandparent{
    background-color: rgb(52, 223, 64);
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#parent{
    background-color: rgb(223, 92, 52);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#child{
    background-color: rgb(220, 236, 51);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}