*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
  width: 30vw;
    height: 30vw;
    border-radius: 15vw;
    background-color: red;
}