*{
    padding: 0px;
    margin: 0px;
}

body{
    width: 100vw;
    height: 100vh;
}

#box{
    position: absolute;
   width: 200px;
   height: 200px;
   background-color: red;
   box-sizing: border-box;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   animation: x 3s forwards;
   opacity: 1;
}


@keyframes x{
    from{
        transform: scale(1);
        opacity: 1; 
        font-size: 10px; 
    }
    to{
        transform: (3);
        opacity: 0;
        font-size: 40px; 
    }
}