*{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
}

body div{
    width: 12vw;
    height: 40vh;
    border: 2px solid black;
}

#red{
    background-color: red;
}
#orange{
    background-color: orange;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
}
#pink{
    background-color: pink;
}
#green{
    background-color: rgb(75, 206, 75);
}