*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;

}

h1{
    padding: 2em;
    text-decoration: underline;
}

#board{
    width: 30vw;
    height: 30vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 35vw;
    
}

#board div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(65, 126, 72);
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#result{
     
    padding: 1em;
}

button{
    font-size: 2em;
    border-radius: 20%;
    padding: 10px;
    color: white;
    background-color: blue;
}


