*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    background-color:  #2c382d;
}

h1{
    color: white;
    padding: 1em;
    text-decoration: underline;
}

#board{
    width: 30vw;
    height: 30vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 35vw;
    
}

#board div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(240, 251, 32);
    border: 2px solid black;
    font-size: 2.5em;
    font-weight: bold;
    color: red;
}

#result{
    font-size: 3em;
     color: honeydew;
    padding: 1.5em;
}

button{
    font-size: 2em;
    border-radius: 20%;
    padding: 10px;
    color: white;
    background-color: blue;
}


