*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    box-sizing: border-box;
}

#b1 , #b3{
    height: 100vh;
    width: 32vw;
    background-color: rgb(84, 84, 218);
    color: white;
    box-sizing: border-box;
}

#b1 h1{
    text-align: center;
    margin-top: 10vh;
    font-size: 2em;
   /* transform: scale(1.5); */
}

#b3 h1{
    text-align: center;
    margin-top: 10vh;
    font-size: 2em;
}

#b2{
    height: 100vh;
    width: 36vw;
    text-align: center;
    box-sizing: border-box;
    text-overflow:initial;
}

.img{
    padding: 10vh;
    width: 40%;
    margin: auto;
}

img{
    width: 100%;
}
